vscode/dev/vscode/*
!.gitkeep
vscode/dev/work/*
!.gitkeep
redmine/redmine/public/themes/*
!.gitkeep
redmine/redmine/log/*
!.gitkeep
redmine/redmine/files/*
!.gitkeep
redmine/redmine/plugins/*
!.gitkeep
redmine/redmine/vendor/cache/*
!.gitkeep
dockerhub/volume/registry/docker/*
!.gitkeep
dockerhub/volume/mariadb/*
!.gitkeep
dockerhub/volume/secrets/*
!.gitkeep
dockerhub/volume/plugins/*
!.gitkeep
eclipse/dev/vscode/*
!.gitkeep
eclipse/dev/work/*
!.gitkeep
ldap/phpldapadmin/*
!.gitkeep
